.color-plate .color-button {
    background-color: #f12938;
}
.one-video .one-logo span {
    background-color: #f12938;
}
.mainmenu li a:after {
    background: #f12938 none repeat scroll 0 0;
}
.one-video .expand-menu-open i {
    color: #f12938;
}
.single-blog-post-area .blog-post-title {
    color: #f12938; 
}
.down-icon .fa {
   color: #f12938; 
}
.slider-text > h2, .slider-title-4 h2 {
    color: #f12938; 
}
.slider-text > a {
    background-color: #f12938;
}    
.slider-text a.button-hover:hover {
    color: #f12938;
}
.portfolio-owner-info ul > li i {
    color: #f12938;
}
.social-portfolio > li a {
    background: #f12938;
}
h3.owner-text::before {
    background: #f12938;
}
.project-slide-image a.related-gallery {
    background: #f12938;
    color: #fff;
}
.widget-title {
    color: #f12938;
}
.tags a {
    background: #f12938;
    color: #fff;
}
.footer-logo a {
    color: #f12938;
}
.search-widget button {
    background-color: #f12938;
}
.breadcrumb-list li:last-child {
    color: #f12938; 
}
.cd-headline.clip b.is-visible {
  color: #f12938;
}
.portfolio-style-2 .portfolio-description h4 a:hover, .portfolio-style-2 .portfolio-cat a:hover {
    color: #f12938;
}
.slider-text a.button-hover::before {
    background: #fff none repeat scroll 0 0;
}
.portfolio-description i {
    background-color: #f12938;
}
.ch-info {
    background-color: #f12938;
} 
.hvr-bubble-float-bottom:before {
  border-color: #f12938 transparent transparent transparent;
}
.slider-title-4 > a {
    background-color: #f12938;
}    
.slider-title-4 a.button-hover:hover {
    color: #f12938;
}
.slider-title-4 a.button-hover::before {
    background: #fff none repeat scroll 0 0;
}
.load-more > a {
    background-color: #f12938;
}
.load-more a.button-hover::before {
    background: #fff none repeat scroll 0 0;
}
.one-video.sticky .one-logo > a {
    color: #fff;
}
.one-video.sticky .expand-menu-open i {
    color: #f12938;
} 
.color-handle i {
    color: #f12938;
}
.hover-style-one li a::before {
    background: #f12938 none repeat scroll 0 0;
}  
.box-single .service-header i {
    color: #f12938;
}
.mainmenu-box .expand-nav li a:hover, .mainmenu-box .expand-nav li.active a {
    background: #f12938 none repeat scroll 0 0;
}
.mainmenu-box ul.icons li a.fa {
    color: #f12938;
}
.cir span {
    color: #f12938 !important;
}
.slick-dots li button::before {
    color: #f12938;
}
.team-single a {
    color: #f12938;
}
.client-name span {
    color: #f12938;
}
.read-more-wrapper a {
    color: #f12938;
}
.to-top-btn {
    background: #f12938 none repeat scroll 0 0;
} 
.contact-input button.btn {
    background-color: #f12938;
} 
.contact-area h5 {
    color: #f12938;
}
.footer-6 .social-bookmark > li a {
    color: #f12938;
}  
.cont-info ul > li i {
   color: #f12938; 
}
.footer-6 .copy-right-info a:hover {
    color: #f12938; 
}